/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 48em) and (max-width: 64em) {
    
    /*css here*/
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 20em) and (max-width: 30em) {
    .sun{
    width: 300px;
    height: 300px;
    left: 20%;
    top: -160px;
    }
 .box {
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -180px;
    max-height: 380px;
    max-width: 420px;
}

@-ms-viewport{
  width: device-width;
}